<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">
    </script>

    <script>

        function validar() {
            if ((document.getElementById("nome").value == "") ||(document.getElementById("sobrenome").value == "") ||(document.getElementById("cpf").value == "")||(document.getElementById("nasc").value == "") ||(!((document.getElementById("masculino").checked) || (document.getElementById("feminino").checked)))) {
                alert('preencha todos os campos');
                verificaNome();
                verificaSobrenome();
                verificaNasc();
                verificaCPF();
                verificaSexo();
            } else {
                $("#cadastro").submit();
            }


        }
        

        function verificaNome() {
            if (document.getElementById("nome").value == "") {
                document.getElementById("avisoNome").style.display = "block";
           
            

            } else {
                document.getElementById("avisoNome").style.display = "none";
            }
        }

        function verificaSobrenome() {
            if (document.getElementById("sobrenome").value == "") {
                document.getElementById("avisoSobrenome").style.display = "block";

            } else {
                document.getElementById("avisoSobrenome").style.display = "none";
            }

        }

        function verificaCPF() {
            if (document.getElementById("cpf").value == "") {
                document.getElementById("avisoCPF").style.display = "block";

            } else {
                document.getElementById("avisoCPF").style.display = "none";
            }

        }

        function verificaNasc() {
            if (document.getElementById("nasc").value == "") {
                document.getElementById("avisoNasc").style.display = "block";
            
            } else {
                document.getElementById("avisoNasc").style.display = "none";
            }

        }

        function verificaSexo() {
            if (!((document.getElementById("masculino").checked) || (document.getElementById("feminino").checked))) {
                document.getElementById("avisoSexo").style.display = "block";
            } else {
                document.getElementById("avisoSexo").style.display = "none";
            }
        }

        function isVazio() {
         


        }

        function alertVazio(){

        }

    </script>

</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Cadastro</h1>
    </div>
    <div class="text-center">
        <form action="Lista" method="post" name="cadastro" id="cadastro" style="padding:10px 300px 10px;">

            <div class="text-center" style="display:flex; flex-direction:row; flex-wrap:nowrap; justify-content:space-around">
                <div>
                    <label for='nome'>Nome</label><br>
                    <input type='text' name='nome' id='nome' onfocusout="verificaNome()"><br>

                    <div id="avisoNome" style="display:none"> 
                    <label for='nome' style="color:red">Preencha o campo Nome</label>
                    </div>
                </div>

                <div>
                    <label for='sobrenome'>Sobrenome</label><br>
                    <input type='text' name='sobrenome' id='sobrenome' onfocusout="verificaSobrenome()"><br>

                    <div id="avisoSobrenome" style="display:none"> 
                    <label for='sobrenome' style="color:red">Preencha o campo Sobrenome</label>
                    </div>
                </div>
            </div>
            <br><br>

                <div style="display:flex; flex-direction:row; flex-wrap:nowrap; justify-content:space-around; padding: 0% 20% 0%;">
                    <div>
                        <input type="radio" id="masculino" name="sexo" value="Masculino" onclick="verificaSexo()" >
                        <label for="html">Masculino</label>
                    </div>
                    <div>
                        <input type="radio" id="feminino" name="sexo" value="Feminino" onclick="verificaSexo()">
                        <label for="css">Feminino</label>
                    </div>
                </div>
                    <div id="avisoSexo" style="display:none">
                        <label style="color:red">Selecione uma das Opções</label>
                    </div>


                
                <br><br>

                <div>
                    <label for='cpf'>CPF</label><br>
                    <input type='text' name='cpf' id='cpf' onfocusout="verificaCPF()"><br>

                    <div id="avisoCPF" style="display:none"> 
                        <label for='cpf' style="color:red">Preencha o campo CPF</label>
                    </div>

                </div>
                <br><br>

                <div>
                    <label for='nasc'>Data de Nascimento</label><br>
                    <input type='text' name='nasc' id='nasc'onfocusout="verificaNasc()"><br>

                    <div id="avisoNasc" style="display:none"> 
                    <label for='nasc' style="color:red">Preencha o campo Nascimento</label>
                    </div>
                </div>
                <br><br>


                <input type='button' name='validacao' id="validacao" value='Validar' onclick="validar()">

                <input type='reset'>


</form>
    </div>
</body>
</html>