<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Cadastro</h1>
    </div>
    <div class="text-center">
        <form action="Lista" method="post" name="cadastro">



            <label for='nome'>Nome</label><br>
            <input type='text' name='nome' id='nome'>
            <br><br>

            <label for='sobrenome'>Sobrenome</label><br>
            <input type='text' name='sobrenome' id='sobrenome'>
            <br><br>

            <label for='nasc'>Data de Nascimento</label><br>
            <input type='text' name='nasc' id='nasc'>
            <br><br>

            <label for="sexo">Sexo</label><br>
            <input type="text" name="sexo" id="sexo">
            <br><br>

            
            <input type='submit' name='casastro' value='Cadastrar'>

            <input type="button" name="busca" value="Buscar">

            <input type='reset'>


        </form>
    </div>
</body>
</html>